// src/components/todo-list-header.lit.scss
.todo-list-header {
    display: flex;
    margin-bottom: 10px;
    
    input {
        flex-grow: 1;
        margin-right: 10px;
        padding: 10px;
    }
 
    button {
        background: green;
        border: none;
        color: white;
        flex-basis: 100px;
    }
}